<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://symfony.com/schema/dic/services"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="setono_sylius_peak_wms.data_mapper.sales_order.composite"
                 class="Setono\SyliusPeakWMSPlugin\DataMapper\CompositeSalesOrderDataMapper">
            <argument type="service" id="event_dispatcher"/>
        </service>

        <service id="setono_sylius_peak_wms.data_mapper.sales_order.default"
                 class="Setono\SyliusPeakWMSPlugin\DataMapper\SalesOrderDataMapper">
            <tag name="setono_sylius_peak_wms.sales_order_data_mapper" priority="10"/>
        </service>

        <service id="setono_sylius_peak_wms.data_mapper.sales_order.payment_details"
                 class="Setono\SyliusPeakWMSPlugin\DataMapper\PaymentDetailsSalesOrderDataMapper">
            <argument type="service" id="sylius.repository.payment_method"/>

            <tag name="setono_sylius_peak_wms.sales_order_data_mapper" priority="20"/>
        </service>

        <service id="setono_sylius_peak_wms.data_mapper.sales_order.order_lines"
                 class="SalesOrderLinesSalesOrderDataMapper">
            <argument type="service" id="event_dispatcher"/>

            <tag name="setono_sylius_peak_wms.sales_order_data_mapper" priority="30"/>
        </service>

        <service id="setono_sylius_peak_wms.data_mapper.sales_order.shipping"
                 class="Setono\SyliusPeakWMSPlugin\DataMapper\ShippingSalesOrderDataMapper">
            <argument type="service" id="event_dispatcher"/>

            <tag name="setono_sylius_peak_wms.sales_order_data_mapper" priority="40"/>
        </service>

        <service id="setono_sylius_peak_wms.data_mapper.sales_order.shipment_template"
                 class="Setono\SyliusPeakWMSPlugin\DataMapper\ShipmentTemplateSalesOrderDataMapper">
            <argument type="service" id="setono_sylius_peak_wms.client"/>

            <tag name="setono_sylius_peak_wms.sales_order_data_mapper" priority="50"/>
        </service>

        <service id="setono_sylius_peak_wms.data_mapper.sales_order.service_point"
                 class="Setono\SyliusPeakWMSPlugin\DataMapper\ServicePointDataMapper">
            <tag name="setono_sylius_peak_wms.sales_order_data_mapper" priority="60"/>
        </service>
    </services>
</container>
