<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://symfony.com/schema/dic/services"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="setono_sylius_peak.data_mapper.sales_order.composite"
                 class="Setono\SyliusPeakPlugin\DataMapper\CompositeSalesOrderDataMapper">
            <argument type="service" id="event_dispatcher"/>
        </service>

        <service id="setono_sylius_peak.data_mapper.sales_order.default"
                 class="Setono\SyliusPeakPlugin\DataMapper\SalesOrderDataMapper">
            <tag name="setono_sylius_peak.sales_order_data_mapper" priority="100"/>
        </service>

        <service id="setono_sylius_peak.data_mapper.sales_order.order_lines"
                 class="Setono\SyliusPeakPlugin\DataMapper\SalesOrderLinesSalesOrderDataMapper">
            <argument type="service" id="event_dispatcher"/>

            <tag name="setono_sylius_peak.sales_order_data_mapper" priority="90"/>
        </service>
    </services>
</container>
